$darkblueopacity: #002B45E5;
$darkblue: #002B45;
$white: #FFFFFF;
$yellow-hover: #F2A22E;
$blue-hover: #015B91;
$light: #FBF6EF;

$sliderblue: #001623;
$blackblue: rgba(0, 22, 35, 1);
$greyopacity: rgba(130, 127, 127, 1);
$grey: rgba(225, 225, 225, 1);



